.vs/*
.vscode/
Debug/*
!*.cpp
x64/*
packages/*
Src/*
view/x64/
view/assets/
!Src/*.cpp
!Src/*.h
build/
*.out
CMakeFiles/
model/x64/
model/.vs/
*.tlog
*.log
*.obj
*.pdb
google_test.*
*.idb
*.fs
*.vs
*.jpg
*.png
test/
view/trace*
*.recipe
*.CopyComplete
*.FileListAbsolute.*